
.custom-app-users {
    color: black;
}


.navbar-custom {
    background-color: white; 
    
}


.nav-link-custom {
    color: black; 
}


.custom-background {
    background-color: #33d9f7;
}


.boton {
    display: inline-block;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px; 
  }
  
  .boton:hover {
    background-color: blue;
  }
  
  
