
/* Estilos personalizados para el componente app-users */
.custom-app-users {
    /* Agrega estilos personalizados aquí */
    color: black;
}

/* Estilos personalizados para la barra de navegación */
.navbar-custom {
    background-color: white; /* Color de fondo personalizado */
    
}

/* Estilos personalizados para los enlaces de navegación */
.nav-link-custom {
    color: black; /* Color del enlace personalizado */
}

/* Establecer el color de fondo general del HTML */
.custom-background {
    background-color: #33d9f7; /* Cambiar a tu color de fondo deseado */
}

/* #baeef9 */

/*#b3f2fe*/