<div id="main-div">
    <p>formulario-sesion works!</p>
    <form [formGroup]="WorkoutForm">
        <input type="date" id="startdate" formControlName="startdate" name="startdate" min="2000-01-01" max="2038-12-31" />
        <input type="time" id="starttime" formControlName="starttime" name="starttime" min="00:00" max ="23:59">
        <input type="time" id="endtime" formControlName="endtime" name="endtime" min="00:00" max ="23:59">
        <div *ngIf="form.errors?.['invalidEndTime']">
            End time error!!!
        </div>
    </form>
</div>
