<!--NAVBAR USUARIO-->
<app-users></app-users> <!--iniciar sesion-->
<!--PLANES & SESIONES-->
<!--


    
-->
<div class= general>
    <div>
        <div>
            <h1 class="align-middle">Lista</h1>

            <table class = tabla> <!--esta es la tabla-->
                <thead>
                    <tr>
                        <th>PLAN</th>
                        <th>ID Sesión</th>
                        <th>Fecha de inicio</th>
                        <th>Fecha de fin</th>
                        <th>Trabajo realizado</th>
                        <th>Descripción</th>
                        <th>Presencial</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sesion of sesiones">
                        <td>{{sesion.idPlan}}</td>
                        <td>{{sesion.id}}</td>
                        <td>{{sesion.inicio?.toString()?.substring(0,16)}}</td>
                        <td>{{sesion.fin?.toString()?.substring(0,16)}}</td>
                        <td>{{sesion.trabajoRealizado}}</td>
                        <td>{{sesion.descripcion}}</td>
                        <td>{{sesion.presencial}}</td>
                        <td>
                            <button class = boton type="button" (click)="pressedEditar(sesion)">Edit</button>
                            <button class = boton type="button" (click)="pressedBorrar(sesion.id)">Delete</button>
                        </td>
                        <!--
                            <td>Botones de editar y eliminar</td>
                        -->
                    </tr>
                </tbody>
            </table>
            <span *ngIf="showPlanes==false">
                <button type="button" mat-flat-button color="accent" (click)="pressedAgregar()">Nueva sesión</button>
            </span>

            <mat-button-toggle-group *ngIf="showPlanes" #toggleBtn="matButtonToggleGroup">
                <mat-button-toggle *ngFor="let plan of planList" value="Toggle Button 1" type="button" (click)="this.pressedButton(plan.id)">Plan {{plan.id}}</mat-button-toggle>
            </mat-button-toggle-group>

            <span *ngIf="showButton">
                <button type="button" mat-flat-button color="accent" (click)="addForm()">Agregar</button>
            </span>

            <div *ngIf="displayNotificationAdded">
                <p class="alert alert-sucess">Sesión añadida con éxito!</p>
            </div>
        </div>
    </div>
    </div>

