<!--es para hacer login-->
<form class="tabla-form-sesion" [formGroup]="workoutForm" (ngSubmit)="onSubmit()">
  <div class="modal-header">
    <h2>Datos de la sesión</h2>
  </div>
  
  <div class="ancho-tabla">
    <label for="fecha_inicio">Fecha de incio*</label>
    <input id="fecha_inicio" type="datetime-local" formControlName="inicio" class="form-control espacio-fecha"/>
    @if(campoRequerido('inicio')){
      <p class="cross-validation-error-message alert alert-danger">Este campo es obligatorio.</p>
    }
    <label for="fecha_fin">Fecha de fin*</label>
    <input id ="fecha_fin" type="datetime-local" formControlName="fin" class="form-control espacio-fecha"/>
    @if(campoRequerido('fin')){
      <p class="cross-validation-error-message alert alert-danger">Este campo es obligatorio.</p>
    }
    
  </div>

  <div>
    <p>
      <mat-form-field class="ancho-tabla" appearance="outline">
        <mat-label>Ejercicios completados</mat-label>
        <textarea matInput #trabajoRealizado formControlName="trabajoRealizado"></textarea>
        <mat-hint align="end">{{trabajoRealizado.value.length}} / 255</mat-hint>
      </mat-form-field>
  
      <mat-form-field class="ancho-tabla" appearance="outline">
        <mat-label>Descripción</mat-label>
        <textarea matInput #decripcion formControlName="decripcion"></textarea>
        <mat-hint align="end">{{decripcion.value.length}} / 255</mat-hint>
      </mat-form-field>
    </p>
    @if(trabajoRealizado.value.length > 255 || decripcion.value.length > 255){
      <p class="alert alert-warning" role="alert">Excedido tamaño de comentario</p>
    }
  </div>

  <div formArrayName="multimedia">
    <div *ngFor = "let multimedia of multimedia.controls; let index = index">
      <div [formGroupName]="index">
        <table class="ancho-tabla"><tr>
            <td>
              <mat-form-field class="ancho-tabla" appearance="outline">
                <mat-label>URL del Video</mat-label>
                <input matInput formControlName="video">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="ancho-tabla" appearance="outline">
                <mat-label>URL de la Foto</mat-label>
                <input matInput formControlName="foto">
              </mat-form-field>
            </td>
          </tr></table></div></div>
  </div>

  <span><mat-checkbox formControlName="presencial">Presencial</mat-checkbox></span>

  <div formArrayName="datosSalud">
    <div *ngFor = "let datosSalud of datosSalud.controls; let index = index">
      <div [formGroupName]="index">
        @if(datosSalud.invalid){
          <p class="alert alert-danger" role="alert">
            Los datos de salud <strong>no pueden contener símbolos, signos o letras.
            </strong>
            También podría haber excedido el <strong>tamaño</strong> de un campo
          </p>
        }
        <table class="ancho-tabla"><tr>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Peso</mat-label>
                <input matInput formControlName="peso" placeholder="0" pattern="[0-9]{0,3}">
                <span matTextSuffix>kg</span>
              </mat-form-field>
            </td>
            <td>  
              <mat-form-field appearance="outline">
                <mat-label>Calorias quemadas</mat-label>
                <input matInput formControlName="calorias" pattern="[0-9]{0,5}">
              </mat-form-field>
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <mat-form-field appearance="outline">
              <mat-label>Pulsaciones</mat-label>
              <input matInput formControlName="pulsaciones" placeholder="0" pattern="[0-9]{0,3}">
              <span matTextSuffix>lpm</span>
            </mat-form-field>
          </tr></table></div></div>
  </div>

  <div class="modal-footer">
    <button type="submit" id="submitbutton" class="btn btn-primary" [disabled]="workoutForm.invalid">Enviar</button>
    <button type="button" class="btn btn-secondary" aria-label="Close" (click)='closeForm()'>Cancelar</button>
  </div>

</form>



