<form class="example-form">
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>First name</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Long Last Name That Will Be Truncated</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr></table>
  
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Address</mat-label>
        <textarea matInput placeholder="Ex. 100 Main St">1600 Amphitheatre Pkwy</textarea>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Address 2</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </p>
  
    <table class="example-full-width" cellspacing="0"><tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>City</mat-label>
        <input matInput placeholder="Ex. San Francisco">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>State</mat-label>
        <input matInput placeholder="Ex. California">
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>Postal Code</mat-label>
        <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
        <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
      </mat-form-field></td>
    </tr></table>
  </form>
  
  

<!--

    div class="modal-header">
        <h4 class="modal-title">Informe de la sesión realizada</h4>
    </div>
    
    <form [formGroup]="workoutForm" (ngSubmit)="onSubmit()">

        <label for="startdate">Fecha de inicio</label>
        <input type="date" id="startdate" formControlName="startdate" class="form-control" min="2000-01-01" max="2038-12-31" />
        <input type="time" id="starttime" formControlName="starttime" min="00:00" max ="23:59">
        <input type="time" id="endtime" formControlName="endtime" min="00:00" max ="23:59">
        <div *ngIf="form.errors?.['invalidEndTime']" class="cross-validation-error-message alert alert-danger">
            <p>Fecha de finalización errónea. </p>
            <p>Por favor, escriba una posterior a la inicial o cancele el formulario.</p>
        </div>

        <!--<label for="exercise_completed">Ejercicios completados</label>--
        <input type=text id="exercise_completed" formControlName = "exercise_completed" class="form-control" placeholder="Ejercicios completados">

        <!--<label for="comments">Comentarios</label>--
        <input type=text id="comments" formControlName = "comments" class="form-control" placeholder="Comentarios de la sesión">

        <label for="isInPerson">¿Es presencial?</label>
        <input type="checkbox" id="isInPerson" formControlName="isInPerson">

        <div formGroupName="workoutRegister" class="form-row">
            <p>Datos del entrenamiento</p>

            <!--<label for="beats">Pulsaciones</label>--
            <input class="" type="text" id="beats" formControlName="beats" placeholder="Pulsaciones">

            <!--<label for="weight">Peso</label>--
            <input type="text" id="weight" formControlName="weight" placeholder="Peso corporal">

            <!--<label for="burned_calories">Calorías quemadas estimadas</label>--
            <input type="text" id="burned_calories" formControlName="burned_calories"  class="form-control" placeholder="Calorías quemadas estimadas">

        </div>

        <div class="modal-footer">
            <button type="submit" id="submitbutton" class="btn btn-primary">Enviar</button>
            <button type="button" class="btn btn-secondary" aria-label="Close" (click)='closeForm()'>Cancelar</button>
        </div>

    </form>

-->




        <!--
        <label>Fecha de inicio</label>
        <input type="date" id="startdate" formControlName="startdate" name="startdate" min="2000-01-01" max="2038-12-31" />
        <input type="time" id="starttime" formControlName="starttime" name="starttime" min="00:00" max ="23:59">
        <input type="time" id="endtime" formControlName="endtime" name="endtime" min="00:00" max ="23:59">
        <div *ngIf="form.errors?.['invalidEndTime']">
            End time error!!!
        </div>
        Falta poner la fecha de fin
        <label for="workout_desc">Ejercicios completados</label>
        <input type="text" id="workout_desc" formControlName="workout_desc" name="workout_desc" placeholder="Introduzca los ejercicios realizados" rows="4" cols="50">
        <label for="comments">Comentarios</label>
        <input type="text" id="comments" formControlName="comments" name="comments" placeholder="Introduzca una descripción de la sesión de entrenamiento">
        <label for="inPerson">¿Fue presencial?</label>
        <input type="checkbox" id="inPerson" formControlName="inPerson" name="inPerson">
        <label for="beat">Pulsaciones</label>
        <input type="text" id="beat" formControlName="beat" name="beat" placeholder="Escriba la media de sus pulsaciones">
        <label for="weight">Peso</label>
        <input type="text" id="weight" formControlName="weight" name="weight" placeholder="Escriba su peso corporal">
        <label for="burned calories">Calorías quemadas</label>
        <input type="text" id="burned calories" formControlName="burned calories" name="burned calories" placeholder="Escriba las calorías quemadas en la sesión de entrenamiento">
        <label for="video">Enviar vídeo</label>
        <input type="file" id="video" formControlName="video" name="video">
        <label for="photo">Enviar foto</label>
        <input type="file" id="foto" formControlName="foto" name="foto">

        <button type="button" class="btn btn-secondary" aria-label="Close" (click)="closeForm()">Cancelar</button>
        -->

