<form class="tabla-form-sesion" [formGroup]="workoutForm" (ngSubmit)="onSubmit()">
  <div class="modal-header">
    <h2>Datos de la sesión</h2>
  </div>

  <mat-form-field class="ancho-tabla" appearance="fill">
    <mat-label>Fecha de inicio</mat-label>
    <input matInput type="date" formControlName="inicio" min="2000-01-01" max="2038-12-31" />
  </mat-form-field>

  <mat-form-field class="ancho-tabla" appearance="fill">
    <mat-label>Fecha de fin</mat-label>
    <input matInput type="date" formControlName="fin" min="2000-01-01" max="2038-12-31" />
  </mat-form-field>
  
  <p>
    <mat-form-field class="ancho-tabla" appearance="outline">
      <mat-label>Ejercicios completados</mat-label>
      <textarea matInput formControlName="trabajoRealizado"></textarea>
    </mat-form-field>

    <mat-form-field class="ancho-tabla" appearance="outline">
      <mat-label>Descripción</mat-label>
      <textarea matInput #decripcion formControlName="decripcion"></textarea>
      <mat-hint align="end">{{decripcion.value.length}} / 300</mat-hint>
    </mat-form-field>
  </p>

  <div formArrayName="multimedia">
    <div *ngFor = "let multimedia of multimedia.controls; let index = index">
      <div [formGroupName]="index">
        <table class="ancho-tabla"><tr>
            <td>
              <mat-form-field class="ancho-tabla" appearance="outline">
                <mat-label>URL del Video</mat-label>
                <input matInput formControlName="video">
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="ancho-tabla" appearance="outline">
                <mat-label>URL de la Foto</mat-label>
                <input matInput formControlName="foto">
              </mat-form-field>
            </td>
          </tr></table></div></div>
  </div>

  <span><mat-checkbox formControlName="presencial">Presencial</mat-checkbox></span>

  <div formArrayName="datosSalud">
    <div *ngFor = "let datosSalud of datosSalud.controls; let index = index">
      <div [formGroupName]="index">
        <table class="ancho-tabla"><tr>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Peso</mat-label>
                <input matInput formControlName="peso" placeholder="0">
                <span matTextSuffix>kg</span>
              </mat-form-field>
            </td>
            <td>  
              <mat-form-field appearance="outline">
                <mat-label>Calorias quemadas</mat-label>
                <input matInput formControlName="calorias">
              </mat-form-field>
            </td>
            <td>
            </td>
          </tr>
          <tr>
            <mat-form-field appearance="outline">
              <mat-label>Pulsaciones</mat-label>
              <input matInput formControlName="pulsaciones" placeholder="0">
              <span matTextSuffix>lpm</span>
            </mat-form-field>
          </tr></table></div></div>
  </div>

  <div class="modal-footer">
    <button type="submit" id="submitbutton" class="btn btn-primary">Enviar</button>
    <button type="button" class="btn btn-secondary" aria-label="Close" (click)='closeForm()'>Cancelar</button>
  </div>

</form>



