<div class="container">
  <div class="row">
    <h3 class="col-8">Gestión de entrenamientos deportivos</h3>
    <div class="col-2 m-1">
      <button type="button" class="btn btn-primary" routerLink="/login" routerLinkActive="active" aria-currentWhenActive="page">Iniciar sesión</button>
    </div>
  </div>

  <nav>
    <a>
      <button type="button" class="btn btn-primary" routerLink="/home" routerLinkActive="active" ariaCurrentWhenActive="page">Ir a formulario</button>         
    </a>
  </nav>
</div>
